@charset "UTF-8";
/* ANIMATION */

.beerCup {
  position: relative;
  bottom: 40px;
  animation: pop 0.5s 1;
}

@keyframes pop {
  0%{ transform: scale(1)}
  50%{ transform: scale(1.0)}
  70%{ transform: scale(1.5)}
  100%{ transform: scale(1)}
}

/* PRESETS */
a {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Raleway', 'Arial', 'sans-serif';
  font-weight: 700;
  color: #273746;
}

p {
  font-family: 'Raleway', 'Arial', 'sans-serif';
  font-weight: 400;
  line-height: 25px;
}

img {
  width: 100%;
  min-height: auto;
}

p .bold {
  font-weight: 700;
}

.hidden {
  display: none;
}

h2 {
  font-family: 'Barlow Condensed', 'Arial', sans-serif;
  color: #F1C40F;
  font-weight: 600;
  font-size: 50px;
  margin: 0;
}

#mainHeader{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  -webkit-box-shadow: 0 6px 15px -10px #273746;
  -moz-box-shadow: 0 6px 15px -10px #273746;
  box-shadow: 0 6px 15px -10px #273746;
  margin-bottom: 100px;
}

#logo{
  width: 30%;
  margin: 50px;
}

#logo a:hover {
  filter: opacity(100%);
  -moz-filter: opacity(100%);
  -webkit-filter: opacity(100%);

}

.navBar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.navBar li {
  display: inline-block;
}

.navBar a {
  display: block;
  transition-duration: 0.6s;
  padding-right: 50px;
  font-size: 20px;
  margin: 5px;
}

a:hover {
  -moz-filter: opacity(40%);
  -webkit-filter: opacity(40%);
  filter: opacity(40%);
}

.mainButton {
  width: 120px;
  height: 40px;
  border: 3px solid #F1C40F;
  background-color: transparent;
  font-family: 'Raleway', 'Arial', 'sans-serif';
  font-weight: 700;
  font-size: 13px;
  color: #FDFEFE;
  cursor: pointer;
  padding: 10px;
}

.mainButton:hover {
  background-color: #F1C40F;
  position: relative;
  }

#contentArea {
  background: url("../images/background.jpg") 0 0 fixed;
}

#mainFooter {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
}

#mainFooter a {
  padding: 10px;
  font-size: 15px;
}

#mainFooter p {
  color: #273746 ;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}

#footerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#socialMedia img {
	width: 40px;
	height: 40px;
}

#youtube, #twitter, #facebook {
	padding-right: 5px;
}

#youtube a, #twitter a, #facebook a {
	transition-duration: 1.5s;
}

#youtube:hover, #twitter:hover, #facebook:hover {
  -moz-filter: opacity(80%);
  -webkit-filter: opacity(80%);
  filter: opacity(80%);
}
/* ON HOMEPAGE*/

#promoArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#wrapperPromo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#heroImage {
  -moz-filter: brightness(40%);
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
  width: 100%;
}

#promoText {
  text-align: center;
  position: absolute;
  color: #D0D3D4;
  box-sizing: content-box;
}

.sectionArea {
  display: flex;
  justify-content: center;
}

#wrapperProduct {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding-top: 60px;
}

.textBox {
  color: #D0D3D4;
  text-align: center;
  padding: 50px;
}

#wrapperEventHome {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 60px;
}

/*ON ABOUT*/
#storyArea {
  background: url("../images/background_about.jpg") 0 0 fixed;
  width: 100%;
}

#briefBox {
  display: flex;
  justify-content: center;
  color: #D0D3D4;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}


#briefBox p {
  text-align: left;
}

#storyArea h2{
  margin-bottom: 50px;
}

#wrapperStory {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.storyBox {
  border: solid 3px #F1C40F;
  text-align: center;
  color: #D0D3D4;
  width: 400px;
  padding: 20px;
  margin: 50px;
}

/*ON EVENTS*/
#eventsText {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  text-align: center;
}

#eventsText h2 {
  color: #18242D;
  font-size: 100px;
  -moz-filter: drop-shadow(8px 0px #F1C40F);
  -webkit-filter: drop-shadow(8px 0px #F1C40F);
  filter: drop-shadow(8px 0px #F1C40F);
}

#wrapperEvent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#event1, #event2, #event3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
  flex-wrap: wrap;
  padding: 50px;
}

#event1, #event3 {
  background: url("../images/background_events13.jpg") 0 0 fixed;
}

#event2 {
  background: url("../images/background_events2.jpg") 0 0 fixed;
}

#event1 p, #event1 a {
  color: #D0D3D4;
}

#event2 p, #event2 h2 {
  color: #273746;
}

#event3 {
    color: #D0D3D4;
}
.eventBox {
  text-align: left;
  padding: 30px;
  width: 50%;
}

/* ON CONTACT */
#wrapperContact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background: url("../images/background_contact.jpg") 0 0 fixed;
}

#hoursArea, #mapArea, #contactText, #contactForm {
  margin-top: 40px;
  margin-bottom: 20px;
}

#hoursArea p {
  padding-top: 20px;
  line-height: 30px;
  color: #D0D3D4;
}

#mapArea iframe {
  border:none;
  width: 450px;
  height: 650px;
}

#contactText {
  padding: 20px;
  text-align: center;
  width: 100%;
}

#contactText p {
  color: #D0D3D4;
}

#contactForm {
  color: #D0D3D4;
  font-family: 'Raleway', 'Arial', 'sans-serif';
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  margin-bottom: 50px;
}

#contactForm input {
  width: 250px;
  height: 30px;
  padding: 5px;
  font-family: 'Raleway', 'Arial', 'sans-serif';
}

#contactForm textarea {
  width: 450px;
  height: 100px;
}

#nameGroup {
  margin-bottom: 10px;
}

/* ON OURBEERS */
.bigSpan {
  font-size: 70px;
}

.lightSpan {
  font-weight: 300;
}

#wrapperBeer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

#beerBox1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: stretch;
  background-color: #f3c027;

}

#beerBox2{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: stretch;
  background-color: #cbcbcb;

}

#beerBox3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: stretch;
  background-color: #2d8682;

}

#beerText {
  background-color: #18242D;
  padding: 40px;
  color: #D0D3D4;
  margin-bottom: 0px;
}

.beerDetails {
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 400px;
}


.beerDetails h2 {
  color: #18242D;
  margin-bottom: 60px;
}

.beerDetails p {
  font-weight: 500;
}


.circleBorder {
  border-radius: 100%;
  border: 3.2px solid #18242D;
  font-family: 'Barlow Condensed', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 20px;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  color: #18242D;
  margin-right: 40px;
}

.wrapperCircle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 60px;
}

#beerImage1 {
  background-color: #2d8682;
}

#beerImage2 {
  background-color: #000;
}

#beerImage3 {
  background-color: #f3c027;
}
